* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body style */
body {
  width: 100%;
  background-color: #FF7F50;
  padding: 5px;
  font-family: poppins;
  margin: 2rem;
}

/* all class (head) style */
.head {
  color: blue;
}

/* second heading background  color */
#bglime {
  background-color: lime;
}

/* paragraph style without any class and id , styling  using element name*/
p {
  color: white;

}

/* paragraph style using id para */

#para {
  color: green;
}

/* second heading text("head") color = red */

.head span {
  color: red;
}

/* paragraph text style  */
p span {
  color: black;
  font-size: 1.2rem;
}

/*  */

li span {
  color: blue;
  background-color: yellow;
}

li a {
  color: blue;
  background-color: rgba(0, 0, 255, 0.377);
  text-decoration: none;
}

ol li:nth-child(2) {
  color: blue;
}

ol li:nth-child(3) {
  color: red;
}